# Имя приложения: также задаёт имя compose-проекта, образа и префикс контейнеров
# (<APP_NAME>-api, <APP_NAME>-broker, <APP_NAME>-migrate, <APP_NAME>-postgres, <APP_NAME>-rabbitmq)
APP_NAME=basis
DEBUG=false

# Порт HTTP API на хосте (docker compose)
HTTP_PORT=8000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=basis

RABBIT_HOST=localhost
RABBIT_PORT=5672
RABBIT_MANAGEMENT_PORT=15672
RABBIT_USER=guest
RABBIT_PASSWORD=guest
RABBIT_VHOST=/

LOG_LEVEL=INFO
LOG_FORMAT="%(asctime)s | %(levelname)-8s | %(name)s | %(message)s"
LOG_DATEFMT="%Y-%m-%d %H:%M:%S"
